@model IPagedList<ClassRoom>
    @using PagedList;
    @using PagedList.Mvc;
    @using MvcContrib.UI.Grid;
    @using Tavi.StudentDemo.Models;
    @using Tavi.StudentDemo.HtmlEx;
    <style>
        .centerBlock {
            display: table;
            margin: auto;
        }
    </style>
    <div class="card-body">
        <div class="table table-bordered table-striped">
            @Html.Grid(Model).Columns(column =>
       {
           column.For(m => Html.htmlCheckBox("cbxItem", m.ClassRoomID)).Named(Html.htmlCheckBox("cbxList").ToString()).Attributes(style => "width:5%");
           column.For(m => Html.Raw("<div class='btn-group'>"
              + "<a type='button' onclick='ShowDialog2(" + m.ClassRoomID + ")'>" + m.ClassName + "</a>" + "</div>")).Named("Tên lớp");
           column.For(m => m.Department.DepartmentName).Named("Khoa học").Attributes(style => "width:30%");
           column.For(m => m.Status == true ? "Còn sử dụng" : "Không sử dụng").Named("Trạng thái").Attributes(style => "width:20%");
           column.For(m => Html.Raw("<div class='btn-group'>" + "<button type='button' class='btn btn-default btn-sm', name = '" + m.ClassRoomID + "', id = 'btnDelete'><i class='far fa-trash-alt'></i></button>"
               + "<button type = 'button' class='btn btn-default btn-sm' onclick='ShowDialog(" + m.ClassRoomID + ")'><i class='far fa-edit'></i></button>"
                   + "</div>")
        ).Named("Chức năng").Attributes(style => "width:5%");
       }).Empty("Chưa có dữ liệu sinh viên")
        </div>
    </div>
    <div class="form-group centerBlock">
        @Html.PagedListPager(Model, PageCurrent => "javascript:loadList(null," + PageCurrent + ")", PagedListRenderOptions.PageNumbersOnly)
    </div>